<div class="container-fluid py-5" id="qualification">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
          <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h3 class="mb-4">My Education</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1"> Diploma in Full Stack Web</h5>
                      <p class="mb-2"><strong>INSTITUT SPESCIALISE DE TECHNOLOGIE APPLIQUEE NTIC2</strong> | <small>2021 - 2023</small></p>
                      <p>INSTITUT SPESCIALISE DE TECHNOLOGIE APPLIQUEE NTIC2
                        Casablanca, Sidi Maarouf</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Diploma in IT Management</h5>
                      <p class="mb-2"><strong>CENTRE PALMIER D'INFORMATIQUE</strong> | <small>2020 - 2021</small></p>
                      <p>CENTRE PALMIER D'INFORMATIQUE Casablanca,maarif</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Scientific Baccalaureate</h5>
                      <p class="mb-2"><strong>BEN M'SIK</strong> | <small>2019 - 2020</small></p>
                      <p>MENTION: BIEN Casablanca,Ben M'sik</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <h3 class="mb-4">My Expericence</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Web Master</h5>
                      <p class="mb-2"><strong>OncoStyle</strong> | <small>August 2023 - October 2023 </small></p>
                      <p>Design and development of the Oncostyle website on the Wix platform.
                        Customization of the design and user interface.
                        Integration of advanced features.
                        Performance optimization and cross-platform compatibility.
                        Working closely with stakeholders to meet needs
                         Specific.</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Developer</h5>
                      <p class="mb-2"><strong>Info'G Morocco</strong> | <small>March 2023 - April 2023</small></p>
                      <p>Creation of dynamic and responsive websites in React, Laravel.
                        Development and maintenance of SQL databases.
                        Troubleshooting and debugging code.
                        Collaborate with the customer to understand their needs and specifications.</p>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>
